*~
.DS_Store
.svn
.tags
.tags_sorted_by_file
CVS
*.rbc
*.tmproj
.idea/workspace.xml
project.xcworkspace
xcuserdata
out
.bundle
.idea
website/node_modules/*
website/html/*.png
website/html/*.jpg
website/html/gfx/**
website/html/img/**
website/html/css/**
website/html/js/**